In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

/home/abdullah/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/abdullah/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
Weather_Dataset = pd.read_csv('Data/weather_data.csv')
Weather_Dataset

,Date,Month,Day,Temperature (°F) Max,Temperature (°F) Avg,Temperature (°F) Min,Dew Point (°F) Max,Dew Point (°F) Avg,Dew Point (°F) Min,Humidity (%) Max,Humidity (%) Avg,Humidity (%) Min,Wind Speed (mph) Max,Wind Speed (mph) Avg,Wind Speed (mph) Min,Pressure (in) Max,Pressure (in) Avg,Pressure (in) Min
0,Jul 1,Jul,1,97.0,88.8,81.0,77.0,74.5,72.0,74.0,63.4,47.0,14.0,8.9,5.0,28.8,28.8,28.7
1,Jul 2,Jul,2,99.0,91.5,82.0,79.0,75.8,75.0,79.0,61.3,47.0,12.0,6.7,0.0,28.8,28.8,28.7
2,Jul 3,Jul,3,102.0,91.7,77.0,81.0,77.0,73.0,100.0,63.7,45.0,35.0,11.0,0.0,28.8,28.8,28.7
3,Jul 4,Jul,4,97.0,88.5,81.0,77.0,74.3,73.0,79.0,64.0,47.0,32.0,13.0,0.0,28.8,28.7,28.6
4,Jul 5,Jul,5,86.0,76.0,68.0,79.0,72.9,68.0,100.0,90.2,70.0,40.0,15.0,5.0,28.8,28.8,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Jul 10,Jul,10,100.0,88.2,81.0,84.0,76.7,73.0,94.0,69.8,50.0,40.0,8.6,3.0,28.9,28.9,28.8
376,Jul 11,Jul,11,100.0,90.7,81.0,81.0,76.8,73.0,89.0,65.7,44.0,12.0,6.7,3.0,28.8,28.7,28.6
377,Jul 12,Jul,12,90.0,79.4,72.0,82.0,74.9,72.0,100.0,85.5,70.0,35.0,14.0,3.0,28.8,28.7,28.6
378,Jul 13,Jul,13,97.0,85.5,75.0,73.0,71.7,70.0,94.0,65.2,41.0,12.0,5.4,0.0,28.8,28.7,28.6
379,Jul 14,Jul,14,95.0,86.3,81.0,77.0,74.1,72.0,84.0,67.9,52.0,9.0,2.2,0.0,28.8,28.7,28.7

In [3]:
Training_Data = pd.read_csv('Data/merged_train.csv')
Training_Data

,type,status,departure_iata,departure_icao,departure_terminal,departure_scheduled,departure_estimated_runway,departure_actual_runway,arrival_iata,arrival_icao,...,flight_number,flight_iata_number,flight_icao_number,codeshare_airline_name,codeshare_airline_iata,codeshare_airline_icao,codeshare_flight_number,codeshare_flight_iata_number,codeshare_flight_icao_number,Source File
0,departure,active,khi,opkc,m,2023-10-15t12:00:00.000,NaN,NaN,lhe,opla,...,402,pa402,abq402,NaN,NaN,NaN,NaN,NaN,NaN,30.csv
1,departure,active,khi,opkc,m,2023-10-03t10:10:00.000,2023-10-03t10:17:00.000,2023-10-03t10:17:00.000,jed,oejn,...,701,sv701,sva701,NaN,NaN,NaN,NaN,NaN,NaN,30.csv
2,departure,active,khi,opkc,1,2023-10-10t05:55:00.000,2023-10-10t06:08:00.000,2023-10-10t06:08:00.000,add,haab,...,695,et695,eth695,NaN,NaN,NaN,NaN,NaN,NaN,30.csv
3,departure,active,khi,opkc,1,2023-10-08t06:40:00.000,2023-10-08t06:41:00.000,2023-10-08t06:41:00.000,bah,obbi,...,3158,kl3158,klm3158,gulf air,gf,gfa,751.0,gf751,gfa751,30.csv
4,departure,active,khi,opkc,m,2023-10-13t05:55:00.000,2023-10-13t06:13:00.000,2023-10-13t06:13:00.000,ist,ltfm,...,5709,pk5709,pia5709,turkish airlines,tk,thy,709.0,tk709,thy709,30.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51567,departure,unknown,khi,opkc,m,2024-05-19t01:00:00.000,NaN,NaN,jed,oejn,...,172,pa172,abq172,NaN,NaN,NaN,NaN,NaN,NaN,45.csv
51568,departure,active,khi,opkc,m,2024-05-19t23:30:00.000,NaN,NaN,bkk,vtbs,...,7414,ac7414,aca7414,thai airways international,tg,tha,342.0,tg342,tha342,45.csv
51569,departure,active,khi,opkc,m,2024-05-25t16:40:00.000,2024-05-25t16:58:00.000,2024-05-25t16:58:00.000,dxb,omdb,...,2113,ek2113,uae2113,flydubai,fz,fdb,336.0,fz336,fdb336,45.csv
51570,departure,active,khi,opkc,NaN,2024-05-16t07:25:00.000,2024-05-16t08:12:00.000,2024-05-16t08:12:00.000,mct,ooms,...,3204,ov3204,oms3204,NaN,NaN,NaN,NaN,NaN,NaN,45.csv
51571,departure,active,khi,opkc,m,2024-05-19t04:55:00.000,2024-05-19t04:52:00.000,2024-05-19t04:52:00.000,auh,omaa,...,222,ey222,etd222,NaN,NaN,NaN,NaN,NaN,NaN,45.csv

In [4]:
Testing_Data = pd.read_csv('Data/merged_test.csv')
Testing_Data

,type,status,departure_iata,departure_icao,departure_terminal,departure_scheduled,departure_estimated_runway,departure_actual_runway,arrival_iata,arrival_icao,...,flight_number,flight_iata_number,flight_icao_number,codeshare_airline_name,codeshare_airline_iata,codeshare_airline_icao,codeshare_flight_number,codeshare_flight_iata_number,codeshare_flight_icao_number,Source File
0,departure,active,khi,opkc,NaN,2023-10-11t05:20:00.000,2023-10-11t05:35:00.000,2023-10-11t05:35:00.000,mct,ooms,...,5160,wy5160,oma5160,salamair,ov,oms,292.0,ov292,oms292,30.csv
1,departure,active,khi,opkc,NaN,2023-10-02t12:45:00.000,2023-10-02t12:55:00.000,2023-10-02t12:55:00.000,lhe,opla,...,842,9p842,fjl842,NaN,NaN,NaN,NaN,NaN,NaN,30.csv
2,departure,active,khi,opkc,m,2023-10-07t10:30:00.000,2023-10-07t10:21:00.000,2023-10-07t10:21:00.000,doh,othh,...,8192,aa8192,aal8192,qatar airways,qr,qtr,611.0,qr611,qtr611,30.csv
3,departure,active,khi,opkc,m,2023-10-03t12:10:00.000,NaN,NaN,yyz,cyyz,...,783,pk783,pia783,NaN,NaN,NaN,NaN,NaN,NaN,30.csv
4,departure,active,khi,opkc,m,2023-10-09t06:55:00.000,2023-10-09t06:53:00.000,2023-10-09t06:53:00.000,cmb,vcbi,...,152,ul152,alk152,NaN,NaN,NaN,NaN,NaN,NaN,30.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14905,departure,active,khi,opkc,NaN,2024-05-28t12:30:00.000,2024-05-28t12:42:00.000,2024-05-28t12:42:00.000,pew,opps,...,865,9p865,fjl865,NaN,NaN,NaN,NaN,NaN,NaN,45.csv
14906,departure,active,khi,opkc,1,2024-05-23t22:55:00.000,2024-05-23t22:53:00.000,2024-05-23t22:53:00.000,dxb,omdb,...,7573,ac7573,aca7573,emirates,ek,uae,603.0,ek603,uae603,45.csv
14907,departure,active,khi,opkc,m,2024-05-28t04:55:00.000,2024-05-28t04:49:00.000,2024-05-28t04:49:00.000,auh,omaa,...,222,ey222,etd222,NaN,NaN,NaN,NaN,NaN,NaN,45.csv
14908,departure,active,khi,opkc,NaN,2024-05-17t05:40:00.000,2024-05-17t05:34:00.000,2024-05-17t05:34:00.000,mct,ooms,...,512,ov512,oms512,NaN,NaN,NaN,NaN,NaN,NaN,45.csv
14909,departure,active,khi,opkc,NaN,2024-05-22t05:40:00.000,2024-05-22t05:48:00.000,2024-05-22t05:48:00.000,mct,ooms,...,512,ov512,oms512,NaN,NaN,NaN,NaN,NaN,NaN,45.csv

In [5]:
df1 = Training_Data
df2 = Weather_Dataset

months = []
days = []

for timestamp in df1['departure_estimated_runway']:
    if pd.notna(timestamp):
        try:
            timestamp = str(timestamp)
            dt_object = datetime.strptime(timestamp, "%Y-%m-%dT%H:%M:%S.%f")
            months.append(dt_object.strftime("%b"))
            days.append(dt_object.day)
        except ValueError:
            months.append(None)
            days.append(None)
    else:
        months.append(None)
        days.append(None)

df1['Month'] = months
df1['Day'] = days

for i in range(len(df1)):
    month = df1.at[i, 'Month']
    day = df1.at[i, 'Day']
    
    if pd.notna(month) and pd.notna(day):
        matching_row = df2[(df2['Month'] == month) & (df2['Day'] == day)]
        
        if not matching_row.empty:
            for col in df2.columns:
                if col not in ['Month', 'Day']:
                    df1.at[i, col] = matching_row.iloc[0][col]

Linked_Training_Dataset = df1
print("Data merged successfully into 'Linked_Training_Dataset'.")

Data merged successfully into 'Linked_Training_Dataset'.

In [6]:
df1 = Testing_Data
df2 = Weather_Dataset

months = []
days = []

for timestamp in df1['departure_estimated_runway']:
    if pd.notna(timestamp):
        try:
            timestamp = str(timestamp)
            dt_object = datetime.strptime(timestamp, "%Y-%m-%dT%H:%M:%S.%f")
            months.append(dt_object.strftime("%b"))
            days.append(dt_object.day)
        except ValueError:
            months.append(None)
            days.append(None)
    else:
        months.append(None)
        days.append(None)

df1['Month'] = months
df1['Day'] = days

for i in len(df1):
    month = df1.at[i, 'Month']
    day = df1.at[i, 'Day']
    
    if pd.notna(month) and pd.notna(day):
        matching_row = df2[(df2['Month'] == month) & (df2['Day'] == day)]
        
        if not matching_row.empty:
            for col in df2.columns:
                if col not in ['Month', 'Day']:
                    df1.at[i, col] = matching_row.iloc[0][col]

Linked_Testing_Dataset = df1
print("Data merged successfully into 'Linked_Testing_Dataset'.")

Data merged successfully into 'Linked_Testing_Dataset'.

In [7]:
print(Linked_Training_Dataset)

            type   status departure_iata departure_icao departure_terminal  \
0      departure   active            khi           opkc                  m
1      departure   active            khi           opkc                  m
2      departure   active            khi           opkc                  1
3      departure   active            khi           opkc                  1
4      departure   active            khi           opkc                  m
...          ...      ...            ...            ...                ...
51567  departure  unknown            khi           opkc                  m
51568  departure   active            khi           opkc                  m
51569  departure   active            khi           opkc                  m
51570  departure   active            khi           opkc                NaN
51571  departure   active            khi           opkc                  m

           departure_scheduled departure_estimated_runway  \
0      2023-10-15t12:00:00.000                        NaN
1      2023-10-03t10:10:00.000    2023-10-03t10:17:00.000
2      2023-10-10t05:55:00.000    2023-10-10t06:08:00.000
3      2023-10-08t06:40:00.000    2023-10-08t06:41:00.000
4      2023-10-13t05:55:00.000    2023-10-13t06:13:00.000
...                        ...                        ...
51567  2024-05-19t01:00:00.000                        NaN
51568  2024-05-19t23:30:00.000                        NaN
51569  2024-05-25t16:40:00.000    2024-05-25t16:58:00.000
51570  2024-05-16t07:25:00.000    2024-05-16t08:12:00.000
51571  2024-05-19t04:55:00.000    2024-05-19t04:52:00.000

       departure_actual_runway arrival_iata arrival_icao  ...  \
0                          NaN          lhe         opla  ...
1      2023-10-03t10:17:00.000          jed         oejn  ...
2      2023-10-10t06:08:00.000          add         haab  ...
3      2023-10-08t06:41:00.000          bah         obbi  ...
4      2023-10-13t06:13:00.000          ist         ltfm  ...
...                        ...          ...          ...  ...
51567                      NaN          jed         oejn  ...
51568                      NaN          bkk         vtbs  ...
51569  2024-05-25t16:58:00.000          dxb         omdb  ...
51570  2024-05-16t08:12:00.000          mct         ooms  ...
51571  2024-05-19t04:52:00.000          auh         omaa  ...

      Dew Point (°F) Min Humidity (%) Max Humidity (%) Avg Humidity (%) Min  \
0                    NaN              NaN              NaN              NaN
1                   61.0             78.0             54.4             34.0
2                   59.0             83.0             64.4             45.0
3                   66.0             83.0             64.7             49.0
4                   63.0             83.0             62.5             43.0
...                  ...              ...              ...              ...
51567                NaN              NaN              NaN              NaN
51568                NaN              NaN              NaN              NaN
51569               55.0             61.0             37.2             19.0
51570               57.0             51.0             33.3             19.0
51571               55.0             48.0             30.4             18.0

      Wind Speed (mph) Max Wind Speed (mph) Avg Wind Speed (mph) Min  \
0                      NaN                  NaN                  NaN
1                     16.0                  4.3                  0.0
2                     21.0                  8.5                  0.0
3                      7.0                  2.8                  0.0
4                      9.0                  3.4                  0.0
...                    ...                  ...                  ...
51567                  NaN                  NaN                  NaN
51568                  NaN                  NaN                  NaN
51569                 25.0                  8.0                  0.0
51570                  9.0                  3.9                  0.0
51571                 16.0                  5.4                  0.0

       Pressure (in) Max Pressure (in) Avg Pressure (in) Min
0                    NaN               NaN               NaN
1                   29.1              29.0              28.9
2                   29.2              29.1              29.0
3                   29.0              29.0              28.9
4                   29.2              29.1              29.1
...                  ...               ...               ...
51567                NaN               NaN               NaN
51568                NaN               NaN               NaN
51569               28.9              28.8              28.7
51570               29.1              29.0              28.9
51571               28.9              28.8              28.7

[51572 rows x 45 columns]

In [8]:
print(Linked_Testing_Dataset)

            type  status departure_iata departure_icao departure_terminal  \
0      departure  active            khi           opkc                NaN
1      departure  active            khi           opkc                NaN
2      departure  active            khi           opkc                  m
3      departure  active            khi           opkc                  m
4      departure  active            khi           opkc                  m
...          ...     ...            ...            ...                ...
14905  departure  active            khi           opkc                NaN
14906  departure  active            khi           opkc                  1
14907  departure  active            khi           opkc                  m
14908  departure  active            khi           opkc                NaN
14909  departure  active            khi           opkc                NaN

           departure_scheduled departure_estimated_runway  \
0      2023-10-11t05:20:00.000    2023-10-11t05:35:00.000
1      2023-10-02t12:45:00.000    2023-10-02t12:55:00.000
2      2023-10-07t10:30:00.000    2023-10-07t10:21:00.000
3      2023-10-03t12:10:00.000                        NaN
4      2023-10-09t06:55:00.000    2023-10-09t06:53:00.000
...                        ...                        ...
14905  2024-05-28t12:30:00.000    2024-05-28t12:42:00.000
14906  2024-05-23t22:55:00.000    2024-05-23t22:53:00.000
14907  2024-05-28t04:55:00.000    2024-05-28t04:49:00.000
14908  2024-05-17t05:40:00.000    2024-05-17t05:34:00.000
14909  2024-05-22t05:40:00.000    2024-05-22t05:48:00.000

       departure_actual_runway arrival_iata arrival_icao  ...  \
0      2023-10-11t05:35:00.000          mct         ooms  ...
1      2023-10-02t12:55:00.000          lhe         opla  ...
2      2023-10-07t10:21:00.000          doh         othh  ...
3                          NaN          yyz         cyyz  ...
4      2023-10-09t06:53:00.000          cmb         vcbi  ...
...                        ...          ...          ...  ...
14905  2024-05-28t12:42:00.000          pew         opps  ...
14906  2024-05-23t22:53:00.000          dxb         omdb  ...
14907  2024-05-28t04:49:00.000          auh         omaa  ...
14908  2024-05-17t05:34:00.000          mct         ooms  ...
14909  2024-05-22t05:48:00.000          mct         ooms  ...

      Dew Point (°F) Min Humidity (%) Max Humidity (%) Avg Humidity (%) Min  \
0                   59.0             83.0             59.6             36.0
1                   63.0             73.0             54.5             36.0
2                   66.0             78.0             62.0             41.0
3                    NaN              NaN              NaN              NaN
4                   64.0            100.0             72.0             49.0
...                  ...              ...              ...              ...
14905               41.0             42.0             21.9              9.0
14906               61.0             59.0             41.7             33.0
14907               41.0             42.0             21.9              9.0
14908               55.0             43.0             29.3             17.0
14909                0.0             45.0             29.1              0.0

      Wind Speed (mph) Max Wind Speed (mph) Avg Wind Speed (mph) Min  \
0                     12.0                  4.7                  0.0
1                     12.0                  2.5                  0.0
2                      9.0                  4.8                  0.0
3                      NaN                  NaN                  NaN
4                     58.0                 10.4                  0.0
...                    ...                  ...                  ...
14905                 16.0                  5.2                  0.0
14906                 14.0                  5.2                  0.0
14907                 16.0                  5.2                  0.0
14908                 12.0                  4.7                  0.0
14909                 12.0                  3.2                  0.0

       Pressure (in) Max Pressure (in) Avg Pressure (in) Min
0                   29.2              29.1              29.0
1                   29.1              29.0              28.9
2                   29.0              29.0              28.9
3                    NaN               NaN               NaN
4                   29.1              29.0              28.9
...                  ...               ...               ...
14905               28.6              28.6              28.5
14906               28.9              28.8              28.8
14907               28.6              28.6              28.5
14908               29.0              28.9              28.8
14909               28.9              28.2               0.0

[14910 rows x 45 columns]

In [9]:
df_cleaned = Linked_Training_Dataset.dropna(subset=["departure_scheduled", "arrival_estimated"])

df_cleaned.to_csv('Data/Cleaned_Linked_Training.csv', index=False)

print(f"Rows with NaN values in 'departure_scheduled' or 'arrival_estimated' columns have been dropped. Cleaned data saved to 'Data/Cleaned_Linked_Training.csv'.")

Rows with NaN values in 'departure_scheduled' or 'arrival_estimated' columns have been dropped. Cleaned data saved to 'Data/Cleaned_Linked_Training.csv'.

In [10]:
df_cleaned = Linked_Testing_Dataset.dropna(subset=["departure_scheduled", "arrival_estimated"])

df_cleaned.to_csv('Data/Cleaned_Linked_Testing.csv', index=False)

print(f"Rows with NaN values have been dropped. Cleaned data saved to 'Data/Cleaned_Linked_Testing.csv'.")

Rows with NaN values have been dropped. Cleaned data saved to 'Data/Cleaned_Linked_Testing.csv'.

In [11]:
pd.read_csv('Data/Cleaned_Linked_Training.csv')

,type,status,departure_iata,departure_icao,departure_terminal,departure_scheduled,departure_estimated_runway,departure_actual_runway,arrival_iata,arrival_icao,...,Dew Point (°F) Min,Humidity (%) Max,Humidity (%) Avg,Humidity (%) Min,Wind Speed (mph) Max,Wind Speed (mph) Avg,Wind Speed (mph) Min,Pressure (in) Max,Pressure (in) Avg,Pressure (in) Min
0,departure,active,khi,opkc,m,2023-10-03t10:10:00.000,2023-10-03t10:17:00.000,2023-10-03t10:17:00.000,jed,oejn,...,61.0,78.0,54.4,34.0,16.0,4.3,0.0,29.1,29.0,28.9
1,departure,active,khi,opkc,1,2023-10-10t05:55:00.000,2023-10-10t06:08:00.000,2023-10-10t06:08:00.000,add,haab,...,59.0,83.0,64.4,45.0,21.0,8.5,0.0,29.2,29.1,29.0
2,departure,active,khi,opkc,1,2023-10-08t06:40:00.000,2023-10-08t06:41:00.000,2023-10-08t06:41:00.000,bah,obbi,...,66.0,83.0,64.7,49.0,7.0,2.8,0.0,29.0,29.0,28.9
3,departure,active,khi,opkc,m,2023-10-13t05:55:00.000,2023-10-13t06:13:00.000,2023-10-13t06:13:00.000,ist,ltfm,...,63.0,83.0,62.5,43.0,9.0,3.4,0.0,29.2,29.1,29.1
4,departure,active,khi,opkc,m,2023-10-08t04:00:00.000,2023-10-08t04:12:00.000,2023-10-08t04:12:00.000,doh,othh,...,66.0,83.0,64.7,49.0,7.0,2.8,0.0,29.0,29.0,28.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30203,departure,active,khi,opkc,m,2024-05-19t20:45:00.000,2024-05-19t20:41:00.000,2024-05-19t20:41:00.000,auh,omaa,...,55.0,48.0,30.4,18.0,16.0,5.4,0.0,28.9,28.8,28.7
30204,departure,active,khi,opkc,m,2024-05-21t23:30:00.000,2024-05-22t00:07:00.000,2024-05-22t00:07:00.000,bkk,vtbs,...,0.0,45.0,29.1,0.0,12.0,3.2,0.0,28.9,28.2,0.0
30205,departure,active,khi,opkc,m,2024-05-25t16:40:00.000,2024-05-25t16:58:00.000,2024-05-25t16:58:00.000,dxb,omdb,...,55.0,61.0,37.2,19.0,25.0,8.0,0.0,28.9,28.8,28.7
30206,departure,active,khi,opkc,NaN,2024-05-16t07:25:00.000,2024-05-16t08:12:00.000,2024-05-16t08:12:00.000,mct,ooms,...,57.0,51.0,33.3,19.0,9.0,3.9,0.0,29.1,29.0,28.9
30207,departure,active,khi,opkc,m,2024-05-19t04:55:00.000,2024-05-19t04:52:00.000,2024-05-19t04:52:00.000,auh,omaa,...,55.0,48.0,30.4,18.0,16.0,5.4,0.0,28.9,28.8,28.7

In [12]:
pd.read_csv('Data/Cleaned_Linked_Testing.csv')

,type,status,departure_iata,departure_icao,departure_terminal,departure_scheduled,departure_estimated_runway,departure_actual_runway,arrival_iata,arrival_icao,...,Dew Point (°F) Min,Humidity (%) Max,Humidity (%) Avg,Humidity (%) Min,Wind Speed (mph) Max,Wind Speed (mph) Avg,Wind Speed (mph) Min,Pressure (in) Max,Pressure (in) Avg,Pressure (in) Min
0,departure,active,khi,opkc,NaN,2023-10-11t05:20:00.000,2023-10-11t05:35:00.000,2023-10-11t05:35:00.000,mct,ooms,...,59.0,83.0,59.6,36.0,12.0,4.7,0.0,29.2,29.1,29.0
1,departure,active,khi,opkc,NaN,2023-10-02t12:45:00.000,2023-10-02t12:55:00.000,2023-10-02t12:55:00.000,lhe,opla,...,63.0,73.0,54.5,36.0,12.0,2.5,0.0,29.1,29.0,28.9
2,departure,active,khi,opkc,m,2023-10-07t10:30:00.000,2023-10-07t10:21:00.000,2023-10-07t10:21:00.000,doh,othh,...,66.0,78.0,62.0,41.0,9.0,4.8,0.0,29.0,29.0,28.9
3,departure,active,khi,opkc,m,2023-10-09t06:55:00.000,2023-10-09t06:53:00.000,2023-10-09t06:53:00.000,cmb,vcbi,...,64.0,100.0,72.0,49.0,58.0,10.4,0.0,29.1,29.0,28.9
4,departure,active,khi,opkc,m,2023-10-12t21:30:00.000,2023-10-12t21:37:00.000,2023-10-12t21:37:00.000,isb,opis,...,61.0,83.0,56.7,36.0,7.0,1.5,0.0,29.2,29.1,29.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8390,departure,active,khi,opkc,NaN,2024-05-28t12:30:00.000,2024-05-28t12:42:00.000,2024-05-28t12:42:00.000,pew,opps,...,41.0,42.0,21.9,9.0,16.0,5.2,0.0,28.6,28.6,28.5
8391,departure,active,khi,opkc,1,2024-05-23t22:55:00.000,2024-05-23t22:53:00.000,2024-05-23t22:53:00.000,dxb,omdb,...,61.0,59.0,41.7,33.0,14.0,5.2,0.0,28.9,28.8,28.8
8392,departure,active,khi,opkc,m,2024-05-28t04:55:00.000,2024-05-28t04:49:00.000,2024-05-28t04:49:00.000,auh,omaa,...,41.0,42.0,21.9,9.0,16.0,5.2,0.0,28.6,28.6,28.5
8393,departure,active,khi,opkc,NaN,2024-05-17t05:40:00.000,2024-05-17t05:34:00.000,2024-05-17t05:34:00.000,mct,ooms,...,55.0,43.0,29.3,17.0,12.0,4.7,0.0,29.0,28.9,28.8
8394,departure,active,khi,opkc,NaN,2024-05-22t05:40:00.000,2024-05-22t05:48:00.000,2024-05-22t05:48:00.000,mct,ooms,...,0.0,45.0,29.1,0.0,12.0,3.2,0.0,28.9,28.2,0.0

In [13]:
df = pd.read_csv('Data/Cleaned_Linked_Training.csv')

columns_with_nan = df.columns[df.isnull().any()].tolist()

if columns_with_nan:
    print(f"Columns with NaN values: {columns_with_nan}")
else:
    print("No columns with NaN values.")

Columns with NaN values: ['departure_terminal', 'departure_estimated_runway', 'departure_actual_runway', 'arrival_terminal', 'arrival_baggage', 'airline_iata', 'flight_iata_number', 'codeshare_airline_name', 'codeshare_airline_iata', 'codeshare_airline_icao', 'codeshare_flight_number', 'codeshare_flight_iata_number', 'codeshare_flight_icao_number', 'Month', 'Day', 'Date', 'Temperature (°F) Max', 'Temperature (°F) Avg', 'Temperature (°F) Min', 'Dew Point (°F) Max', 'Dew Point (°F) Avg', 'Dew Point (°F) Min', 'Humidity (%) Max', 'Humidity (%) Avg', 'Humidity (%) Min', 'Wind Speed (mph) Max', 'Wind Speed (mph) Avg', 'Wind Speed (mph) Min', 'Pressure (in) Max', 'Pressure (in) Avg', 'Pressure (in) Min']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30208 entries, 0 to 30207
Data columns (total 45 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   type                          30208 non-null  object
 1   status                        30208 non-null  object
 2   departure_iata                30208 non-null  object
 3   departure_icao                30208 non-null  object
 4   departure_terminal            19886 non-null  object
 5   departure_scheduled           30208 non-null  object
 6   departure_estimated_runway    30205 non-null  object
 7   departure_actual_runway       30205 non-null  object
 8   arrival_iata                  30208 non-null  object
 9   arrival_icao                  30208 non-null  object
 10  arrival_terminal              11543 non-null  object
 11  arrival_baggage               12617 non-null  object
 12  arrival_scheduled             30208 non-null  object
 13  arrival_estimated             30208 non-null  object
 14  airline_name                  30208 non-null  object
 15  airline_iata                  30197 non-null  object
 16  airline_icao                  30208 non-null  object
 17  flight_number                 30208 non-null  int64
 18  flight_iata_number            30197 non-null  object
 19  flight_icao_number            30208 non-null  object
 20  codeshare_airline_name        11251 non-null  object
 21  codeshare_airline_iata        11251 non-null  object
 22  codeshare_airline_icao        11251 non-null  object
 23  codeshare_flight_number       11251 non-null  float64
 24  codeshare_flight_iata_number  11251 non-null  object
 25  codeshare_flight_icao_number  11251 non-null  object
 26  Source File                   30208 non-null  object
 27  Month                         30205 non-null  object
 28  Day                           30205 non-null  float64
 29  Date                          30205 non-null  object
 30  Temperature (°F) Max          30205 non-null  float64
 31  Temperature (°F) Avg          30205 non-null  float64
 32  Temperature (°F) Min          30205 non-null  float64
 33  Dew Point (°F) Max            30205 non-null  float64
 34  Dew Point (°F) Avg            30205 non-null  float64
 35  Dew Point (°F) Min            30205 non-null  float64
 36  Humidity (%) Max              30205 non-null  float64
 37  Humidity (%) Avg              30205 non-null  float64
 38  Humidity (%) Min              30205 non-null  float64
 39  Wind Speed (mph) Max          30205 non-null  float64
 40  Wind Speed (mph) Avg          30205 non-null  float64
 41  Wind Speed (mph) Min          30205 non-null  float64
 42  Pressure (in) Max             30205 non-null  float64
 43  Pressure (in) Avg             30205 non-null  float64
 44  Pressure (in) Min             30205 non-null  float64
dtypes: float64(17), int64(1), object(27)
memory usage: 10.4+ MB

In [15]:
# df = pd.read_csv('Data/Cleaned_Linked_Training.csv')

# # Drop specific columns by name
# columns_to_drop = ['arrival_terminal', 'arrival_baggage', 'codeshare_airline_iata', 'codeshare_airline_icao', 'codeshare_flight_number']  # Replace with the columns you want to drop
# df_dropped = df.drop(columns=columns_to_drop)

# # Save the updated DataFrame back to a CSV file
# df_dropped.to_csv('Data/Cleaned_Linked_Training.csv', index=False)

# print(f"Specified columns {columns_to_drop} have been dropped. Updated data saved to 'Data/Cleaned_Linked_Training.csv'.")

In [16]:
# df_dropped.info()

In [17]:
df = pd.read_csv('Data/Cleaned_Linked_Training.csv')
# Drop specific columns by name
columns_to_drop = ['arrival_terminal', 'arrival_baggage', 'codeshare_airline_iata', 'codeshare_airline_icao', 'codeshare_flight_number', 'Month', 'Day', 'Date']  # Replace with the columns you want to drop
df_dropped = df.drop(columns=columns_to_drop)
# Save the updated DataFrame back to a CSV file
df_dropped.to_csv('Data/Cleaned_Linked_Training.csv', index=False)
print(f"Specified columns {columns_to_drop} have been dropped. Updated data saved to 'Data/Cleaned_Linked_Training.csv'.")

Specified columns ['arrival_terminal', 'arrival_baggage', 'codeshare_airline_iata', 'codeshare_airline_icao', 'codeshare_flight_number', 'Month', 'Day', 'Date'] have been dropped. Updated data saved to 'Data/Cleaned_Linked_Training.csv'.

In [18]:
df = pd.read_csv('Data/Cleaned_Linked_Testing.csv')
columns_to_drop = ['arrival_terminal', 'arrival_baggage', 'codeshare_airline_iata', 'codeshare_airline_icao', 'codeshare_flight_number', 'Month', 'Day', 'Date']  # Replace with the columns you want to drop
df_dropped = df.drop(columns=columns_to_drop)
df_dropped.to_csv('Data/Cleaned_Linked_Testing.csv', index=False)
print(f"Specified columns {columns_to_drop} have been dropped. Updated data saved to 'Data/Cleaned_Linked_Testing.csv'.")

Specified columns ['arrival_terminal', 'arrival_baggage', 'codeshare_airline_iata', 'codeshare_airline_icao', 'codeshare_flight_number', 'Month', 'Day', 'Date'] have been dropped. Updated data saved to 'Data/Cleaned_Linked_Testing.csv'.

In [19]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8395 entries, 0 to 8394
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   type                          8395 non-null   object
 1   status                        8395 non-null   object
 2   departure_iata                8395 non-null   object
 3   departure_icao                8395 non-null   object
 4   departure_terminal            5412 non-null   object
 5   departure_scheduled           8395 non-null   object
 6   departure_estimated_runway    8394 non-null   object
 7   departure_actual_runway       8394 non-null   object
 8   arrival_iata                  8395 non-null   object
 9   arrival_icao                  8395 non-null   object
 10  arrival_scheduled             8395 non-null   object
 11  arrival_estimated             8395 non-null   object
 12  airline_name                  8395 non-null   object
 13  airline_iata                  8394 non-null   object
 14  airline_icao                  8395 non-null   object
 15  flight_number                 8395 non-null   int64
 16  flight_iata_number            8394 non-null   object
 17  flight_icao_number            8395 non-null   object
 18  codeshare_airline_name        3180 non-null   object
 19  codeshare_flight_iata_number  3180 non-null   object
 20  codeshare_flight_icao_number  3180 non-null   object
 21  Source File                   8395 non-null   object
 22  Temperature (°F) Max          8394 non-null   float64
 23  Temperature (°F) Avg          8394 non-null   float64
 24  Temperature (°F) Min          8394 non-null   float64
 25  Dew Point (°F) Max            8394 non-null   float64
 26  Dew Point (°F) Avg            8394 non-null   float64
 27  Dew Point (°F) Min            8394 non-null   float64
 28  Humidity (%) Max              8394 non-null   float64
 29  Humidity (%) Avg              8394 non-null   float64
 30  Humidity (%) Min              8394 non-null   float64
 31  Wind Speed (mph) Max          8394 non-null   float64
 32  Wind Speed (mph) Avg          8394 non-null   float64
 33  Wind Speed (mph) Min          8394 non-null   float64
 34  Pressure (in) Max             8394 non-null   float64
 35  Pressure (in) Avg             8394 non-null   float64
 36  Pressure (in) Min             8394 non-null   float64
dtypes: float64(15), int64(1), object(21)
memory usage: 2.4+ MB

In [20]:
df = pd.read_csv('Data/Cleaned_Linked_Training.csv')
df['departure_scheduled'] = pd.to_datetime(df['departure_scheduled'], errors='coerce')
df['departure_actual_runway'] = pd.to_datetime(df['departure_actual_runway'], errors='coerce')

df['Delay in (hrs)'] = (df['departure_actual_runway'] - df['departure_scheduled']).dt.total_seconds() / 3600

df.to_csv('Data/Cleaned_Linked_Training.csv', index=False)

print("Delay in (hrs) has been calculated and added to the CSV file.")

Delay in (hrs) has been calculated and added to the CSV file.

In [21]:
df

,type,status,departure_iata,departure_icao,departure_terminal,departure_scheduled,departure_estimated_runway,departure_actual_runway,arrival_iata,arrival_icao,...,Humidity (%) Max,Humidity (%) Avg,Humidity (%) Min,Wind Speed (mph) Max,Wind Speed (mph) Avg,Wind Speed (mph) Min,Pressure (in) Max,Pressure (in) Avg,Pressure (in) Min,Delay in (hrs)
0,departure,active,khi,opkc,m,2023-10-03 10:10:00,2023-10-03t10:17:00.000,2023-10-03 10:17:00,jed,oejn,...,78.0,54.4,34.0,16.0,4.3,0.0,29.1,29.0,28.9,0.116667
1,departure,active,khi,opkc,1,2023-10-10 05:55:00,2023-10-10t06:08:00.000,2023-10-10 06:08:00,add,haab,...,83.0,64.4,45.0,21.0,8.5,0.0,29.2,29.1,29.0,0.216667
2,departure,active,khi,opkc,1,2023-10-08 06:40:00,2023-10-08t06:41:00.000,2023-10-08 06:41:00,bah,obbi,...,83.0,64.7,49.0,7.0,2.8,0.0,29.0,29.0,28.9,0.016667
3,departure,active,khi,opkc,m,2023-10-13 05:55:00,2023-10-13t06:13:00.000,2023-10-13 06:13:00,ist,ltfm,...,83.0,62.5,43.0,9.0,3.4,0.0,29.2,29.1,29.1,0.300000
4,departure,active,khi,opkc,m,2023-10-08 04:00:00,2023-10-08t04:12:00.000,2023-10-08 04:12:00,doh,othh,...,83.0,64.7,49.0,7.0,2.8,0.0,29.0,29.0,28.9,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30203,departure,active,khi,opkc,m,2024-05-19 20:45:00,2024-05-19t20:41:00.000,2024-05-19 20:41:00,auh,omaa,...,48.0,30.4,18.0,16.0,5.4,0.0,28.9,28.8,28.7,-0.066667
30204,departure,active,khi,opkc,m,2024-05-21 23:30:00,2024-05-22t00:07:00.000,2024-05-22 00:07:00,bkk,vtbs,...,45.0,29.1,0.0,12.0,3.2,0.0,28.9,28.2,0.0,0.616667
30205,departure,active,khi,opkc,m,2024-05-25 16:40:00,2024-05-25t16:58:00.000,2024-05-25 16:58:00,dxb,omdb,...,61.0,37.2,19.0,25.0,8.0,0.0,28.9,28.8,28.7,0.300000
30206,departure,active,khi,opkc,NaN,2024-05-16 07:25:00,2024-05-16t08:12:00.000,2024-05-16 08:12:00,mct,ooms,...,51.0,33.3,19.0,9.0,3.9,0.0,29.1,29.0,28.9,0.783333
30207,departure,active,khi,opkc,m,2024-05-19 04:55:00,2024-05-19t04:52:00.000,2024-05-19 04:52:00,auh,omaa,...,48.0,30.4,18.0,16.0,5.4,0.0,28.9,28.8,28.7,-0.050000

In [22]:
df = pd.read_csv('Data/Cleaned_Linked_Testing.csv')
# Ensure datetime format for relevant columns
df['departure_scheduled'] = pd.to_datetime(df['departure_scheduled'], errors='coerce')
df['departure_actual_runway'] = pd.to_datetime(df['departure_actual_runway'], errors='coerce')

# Calculate Delay (in hours)
df['Delay in (hrs)'] = (df['departure_actual_runway'] - df['departure_scheduled']).dt.total_seconds() / 3600

# Save the updated DataFrame with the new delay column
df.to_csv('Data/Cleaned_Linked_Testing.csv', index=False)

print("Delay in (hrs) has been calculated and added to the CSV file.")

Delay in (hrs) has been calculated and added to the CSV file.

In [23]:
df

,type,status,departure_iata,departure_icao,departure_terminal,departure_scheduled,departure_estimated_runway,departure_actual_runway,arrival_iata,arrival_icao,...,Humidity (%) Max,Humidity (%) Avg,Humidity (%) Min,Wind Speed (mph) Max,Wind Speed (mph) Avg,Wind Speed (mph) Min,Pressure (in) Max,Pressure (in) Avg,Pressure (in) Min,Delay in (hrs)
0,departure,active,khi,opkc,NaN,2023-10-11 05:20:00,2023-10-11t05:35:00.000,2023-10-11 05:35:00,mct,ooms,...,83.0,59.6,36.0,12.0,4.7,0.0,29.2,29.1,29.0,0.250000
1,departure,active,khi,opkc,NaN,2023-10-02 12:45:00,2023-10-02t12:55:00.000,2023-10-02 12:55:00,lhe,opla,...,73.0,54.5,36.0,12.0,2.5,0.0,29.1,29.0,28.9,0.166667
2,departure,active,khi,opkc,m,2023-10-07 10:30:00,2023-10-07t10:21:00.000,2023-10-07 10:21:00,doh,othh,...,78.0,62.0,41.0,9.0,4.8,0.0,29.0,29.0,28.9,-0.150000
3,departure,active,khi,opkc,m,2023-10-09 06:55:00,2023-10-09t06:53:00.000,2023-10-09 06:53:00,cmb,vcbi,...,100.0,72.0,49.0,58.0,10.4,0.0,29.1,29.0,28.9,-0.033333
4,departure,active,khi,opkc,m,2023-10-12 21:30:00,2023-10-12t21:37:00.000,2023-10-12 21:37:00,isb,opis,...,83.0,56.7,36.0,7.0,1.5,0.0,29.2,29.1,29.1,0.116667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8390,departure,active,khi,opkc,NaN,2024-05-28 12:30:00,2024-05-28t12:42:00.000,2024-05-28 12:42:00,pew,opps,...,42.0,21.9,9.0,16.0,5.2,0.0,28.6,28.6,28.5,0.200000
8391,departure,active,khi,opkc,1,2024-05-23 22:55:00,2024-05-23t22:53:00.000,2024-05-23 22:53:00,dxb,omdb,...,59.0,41.7,33.0,14.0,5.2,0.0,28.9,28.8,28.8,-0.033333
8392,departure,active,khi,opkc,m,2024-05-28 04:55:00,2024-05-28t04:49:00.000,2024-05-28 04:49:00,auh,omaa,...,42.0,21.9,9.0,16.0,5.2,0.0,28.6,28.6,28.5,-0.100000
8393,departure,active,khi,opkc,NaN,2024-05-17 05:40:00,2024-05-17t05:34:00.000,2024-05-17 05:34:00,mct,ooms,...,43.0,29.3,17.0,12.0,4.7,0.0,29.0,28.9,28.8,-0.100000
8394,departure,active,khi,opkc,NaN,2024-05-22 05:40:00,2024-05-22t05:48:00.000,2024-05-22 05:48:00,mct,ooms,...,45.0,29.1,0.0,12.0,3.2,0.0,28.9,28.2,0.0,0.133333

In [24]:
df = pd.read_csv('Data/Cleaned_Linked_Training.csv')
time_columns = ['departure_scheduled', 'departure_estimated_runway', 'departure_actual_runway', 'arrival_scheduled', 'arrival_estimated']

for col in time_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')
    
    df[f'{col}_Year'] = df[col].dt.year
    df[f'{col}_Month'] = df[col].dt.month
    df[f'{col}_Day'] = df[col].dt.day
    df[f'{col}_Time'] = df[col].dt.time

    df.drop(columns=[col], inplace=True)

df.to_csv('Data/Cleaned_Linked_Training.csv', index=False)

print("Timestamps processed and NaN values handled.")

Timestamps processed and NaN values handled.

In [25]:
df = df[[col for col in df.columns if col != 'Delay in (hrs)'] + ['Delay in (hrs)']]

df.to_csv('Data/Cleaned_Linked_Training.csv', index=False)

print("Delay in (hrs) has been calculated and moved to the last column in the CSV file.")

Delay in (hrs) has been calculated and moved to the last column in the CSV file.

In [26]:
df

,type,status,departure_iata,departure_icao,departure_terminal,arrival_iata,arrival_icao,airline_name,airline_iata,airline_icao,...,departure_actual_runway_Time,arrival_scheduled_Year,arrival_scheduled_Month,arrival_scheduled_Day,arrival_scheduled_Time,arrival_estimated_Year,arrival_estimated_Month,arrival_estimated_Day,arrival_estimated_Time,Delay in (hrs)
0,departure,active,khi,opkc,m,jed,oejn,saudia,sv,sva,...,10:17:00,2023,10,3,12:15:00,2023,10,3,11:46:00,0.116667
1,departure,active,khi,opkc,1,add,haab,ethiopian airlines,et,eth,...,06:08:00,2023,10,10,08:55:00,2023,10,10,08:37:00,0.216667
2,departure,active,khi,opkc,1,bah,obbi,klm,kl,klm,...,06:41:00,2023,10,8,07:25:00,2023,10,8,06:58:00,0.016667
3,departure,active,khi,opkc,m,ist,ltfm,pakistan international airlines,pk,pia,...,06:13:00,2023,10,13,09:45:00,2023,10,13,09:34:00,0.300000
4,departure,active,khi,opkc,m,doh,othh,british airways,ba,baw,...,04:12:00,2023,10,8,04:50:00,2023,10,8,04:21:00,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30203,departure,active,khi,opkc,m,auh,omaa,etihad airways,ey,etd,...,20:41:00,2024,5,19,21:55:00,2024,5,19,21:33:00,-0.066667
30204,departure,active,khi,opkc,m,bkk,vtbs,thai airways international,tg,tha,...,00:07:00,2024,5,22,06:20:00,2024,5,22,06:32:00,0.616667
30205,departure,active,khi,opkc,m,dxb,omdb,emirates,ek,uae,...,16:58:00,2024,5,25,17:55:00,2024,5,25,17:43:00,0.300000
30206,departure,active,khi,opkc,NaN,mct,ooms,salamair,ov,oms,...,08:12:00,2024,5,16,08:10:00,2024,5,16,08:43:00,0.783333
30207,departure,active,khi,opkc,m,auh,omaa,etihad airways,ey,etd,...,04:52:00,2024,5,19,06:05:00,2024,5,19,05:46:00,-0.050000

In [27]:
df.describe()

,flight_number,Temperature (°F) Max,Temperature (°F) Avg,Temperature (°F) Min,Dew Point (°F) Max,Dew Point (°F) Avg,Dew Point (°F) Min,Humidity (%) Max,Humidity (%) Avg,Humidity (%) Min,...,departure_actual_runway_Year,departure_actual_runway_Month,departure_actual_runway_Day,arrival_scheduled_Year,arrival_scheduled_Month,arrival_scheduled_Day,arrival_estimated_Year,arrival_estimated_Month,arrival_estimated_Day,Delay in (hrs)
count,30208.000000,30205.000000,30205.000000,30205.000000,30205.000000,30205.000000,30205.000000,30205.000000,30205.000000,30205.000000,...,30205.000000,30205.000000,30205.000000,30208.000000,30208.000000,30208.000000,30208.000000,30208.000000,30208.000000,30205.000000
mean,2542.734805,86.427611,76.557875,65.486211,63.647078,59.817136,54.599537,79.913624,60.856179,41.089952,...,2023.531568,6.557755,15.946201,2023.531581,6.558825,15.948722,2023.531581,6.558561,15.945842,0.202186
std,2860.167738,15.386325,14.770578,17.246022,10.974350,11.357573,14.675998,14.844684,16.595255,18.388771,...,0.499011,3.374019,8.859151,0.499010,3.373984,8.863198,0.499010,3.374165,8.863086,0.239728
min,3.000000,48.000000,45.500000,0.000000,41.000000,38.200000,0.000000,40.000000,21.900000,0.000000,...,2023.000000,1.000000,1.000000,2023.000000,1.000000,1.000000,2023.000000,1.000000,1.000000,-4.266667
25%,406.000000,75.000000,64.200000,55.000000,55.000000,50.700000,45.000000,73.000000,48.900000,27.000000,...,2023.000000,4.000000,8.000000,2023.000000,4.000000,8.000000,2023.000000,4.000000,8.000000,0.083333
50%,733.000000,90.000000,78.800000,68.000000,63.000000,59.000000,55.000000,84.000000,64.000000,42.000000,...,2024.000000,6.000000,16.000000,2024.000000,6.000000,16.000000,2024.000000,6.000000,16.000000,0.183333
75%,5576.500000,97.000000,88.300000,81.000000,73.000000,70.700000,66.000000,89.000000,71.900000,54.000000,...,2024.000000,10.000000,24.000000,2024.000000,10.000000,24.000000,2024.000000,10.000000,24.000000,0.316667
max,9935.000000,115.000000,100.800000,90.000000,84.000000,80.100000,77.000000,100.000000,95.700000,87.000000,...,2024.000000,12.000000,31.000000,2024.000000,12.000000,31.000000,2024.000000,12.000000,31.000000,0.966667

In [28]:
df = pd.read_csv('Data/Cleaned_Linked_Testing.csv')
time_columns = ['departure_scheduled', 'departure_estimated_runway', 'departure_actual_runway', 'arrival_scheduled', 'arrival_estimated']

for col in time_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')
    
    df[f'{col}_Year'] = df[col].dt.year
    df[f'{col}_Month'] = df[col].dt.month
    df[f'{col}_Day'] = df[col].dt.day
    df[f'{col}_Time'] = df[col].dt.time

    df.drop(columns=[col], inplace=True)

df.to_csv('Data/Cleaned_Linked_Testing.csv', index=False)

print("Timestamps processed and NaN values handled.")

Timestamps processed and NaN values handled.

In [29]:
df = df[[col for col in df.columns if col != 'Delay in (hrs)'] + ['Delay in (hrs)']]

df.to_csv('Data/Cleaned_Linked_Testing.csv', index=False)

print("Delay in (hrs) has been calculated and moved to the last column in the CSV file.")

Delay in (hrs) has been calculated and moved to the last column in the CSV file.

In [30]:
df

,type,status,departure_iata,departure_icao,departure_terminal,arrival_iata,arrival_icao,airline_name,airline_iata,airline_icao,...,departure_actual_runway_Time,arrival_scheduled_Year,arrival_scheduled_Month,arrival_scheduled_Day,arrival_scheduled_Time,arrival_estimated_Year,arrival_estimated_Month,arrival_estimated_Day,arrival_estimated_Time,Delay in (hrs)
0,departure,active,khi,opkc,NaN,mct,ooms,oman air,wy,oma,...,05:35:00,2023,10,11,06:05:00,2023,10,11,05:57:00,0.250000
1,departure,active,khi,opkc,NaN,lhe,opla,flyjinnah,9p,fjl,...,12:55:00,2023,10,2,14:25:00,2023,10,2,14:16:00,0.166667
2,departure,active,khi,opkc,m,doh,othh,american airlines,aa,aal,...,10:21:00,2023,10,7,11:15:00,2023,10,7,10:25:00,-0.150000
3,departure,active,khi,opkc,m,cmb,vcbi,srilankan airlines,ul,alk,...,06:53:00,2023,10,9,11:05:00,2023,10,9,10:30:00,-0.033333
4,departure,active,khi,opkc,m,isb,opis,airblue,pa,abq,...,21:37:00,2023,10,12,23:35:00,2023,10,12,23:12:00,0.116667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8390,departure,active,khi,opkc,NaN,pew,opps,flyjinnah,9p,fjl,...,12:42:00,2024,5,28,14:20:00,2024,5,28,14:12:00,0.200000
8391,departure,active,khi,opkc,1,dxb,omdb,air canada,ac,aca,...,22:53:00,2024,5,24,00:10:00,2024,5,23,23:35:00,-0.033333
8392,departure,active,khi,opkc,m,auh,omaa,etihad airways,ey,etd,...,04:49:00,2024,5,28,06:05:00,2024,5,28,05:40:00,-0.100000
8393,departure,active,khi,opkc,NaN,mct,ooms,salamair,ov,oms,...,05:34:00,2024,5,17,06:25:00,2024,5,17,05:57:00,-0.100000
8394,departure,active,khi,opkc,NaN,mct,ooms,salamair,ov,oms,...,05:48:00,2024,5,22,06:25:00,2024,5,22,06:12:00,0.133333

In [31]:
df.describe()

,flight_number,Temperature (°F) Max,Temperature (°F) Avg,Temperature (°F) Min,Dew Point (°F) Max,Dew Point (°F) Avg,Dew Point (°F) Min,Humidity (%) Max,Humidity (%) Avg,Humidity (%) Min,...,departure_actual_runway_Year,departure_actual_runway_Month,departure_actual_runway_Day,arrival_scheduled_Year,arrival_scheduled_Month,arrival_scheduled_Day,arrival_estimated_Year,arrival_estimated_Month,arrival_estimated_Day,Delay in (hrs)
count,8395.000000,8394.000000,8394.000000,8394.000000,8394.000000,8394.000000,8394.000000,8394.000000,8394.000000,8394.000000,...,8394.000000,8394.000000,8394.000000,8395.000000,8395.000000,8395.000000,8395.000000,8395.000000,8395.000000,8394.000000
mean,2604.613460,86.135692,76.209400,64.809864,63.346676,59.479593,53.982607,79.919585,60.841351,40.796521,...,2023.568978,6.471170,15.458542,2023.569148,6.470756,15.452174,2023.569148,6.470637,15.446814,0.196259
std,2905.069368,15.287415,14.631869,17.714364,10.837102,11.232673,15.087273,14.825586,16.639145,18.704855,...,0.495249,3.385117,8.952341,0.495225,3.385409,8.952869,0.495225,3.385408,8.951481,0.253490
min,33.000000,48.000000,45.500000,0.000000,41.000000,38.200000,0.000000,40.000000,21.900000,0.000000,...,2023.000000,1.000000,1.000000,2023.000000,1.000000,1.000000,2023.000000,1.000000,1.000000,-4.383333
25%,402.000000,75.000000,64.000000,54.000000,55.000000,50.400000,45.000000,73.000000,48.900000,27.000000,...,2023.000000,4.000000,8.000000,2023.000000,4.000000,8.000000,2023.000000,4.000000,8.000000,0.066667
50%,735.000000,88.000000,78.000000,68.000000,63.000000,58.700000,55.000000,84.000000,63.600000,41.000000,...,2024.000000,6.000000,15.000000,2024.000000,6.000000,15.000000,2024.000000,6.000000,15.000000,0.183333
75%,5586.000000,97.000000,88.200000,79.000000,73.000000,69.200000,66.000000,89.000000,71.900000,54.000000,...,2024.000000,10.000000,23.000000,2024.000000,10.000000,23.000000,2024.000000,10.000000,23.000000,0.316667
max,9985.000000,115.000000,100.800000,90.000000,84.000000,80.100000,77.000000,100.000000,95.700000,87.000000,...,2024.000000,12.000000,31.000000,2024.000000,12.000000,31.000000,2024.000000,12.000000,31.000000,0.950000

In [32]:
df_training=pd.read_csv("/home/abdullah/Desktop/ML_Project/Data/Cleaned_Linked_Training.csv")
df_testing=pd.read_csv("/home/abdullah/Desktop/ML_Project/Data/Cleaned_Linked_Testing.csv")

In [33]:
negative_count = df_training['Delay in (hrs)'].lt(0).sum()
print("Count of negative values in 'Delay in (hrs)':", negative_count)

Count of negative values in 'Delay in (hrs)': 3823

In [34]:
negative_count = df_testing['Delay in (hrs)'].lt(0).sum()
print("Count of negative values in 'Delay in (hrs)':", negative_count)

Count of negative values in 'Delay in (hrs)': 1170